extends layout

block content
  section#intro
    div.jumbotron.jumbotron-fluid
      div.container
        h1 #{nama}
        h3 #{story}
        hr
        mixin sosmeds(href, className)
          li.list-inline-item
            a(rel="noopener", target="_blank", href=href, class=className)
        div.sosmed
          ul.list-inline
            +sosmeds("https://www.facebook.com/fari.vanpersie.7", "fa fa-facebook fa-lg")
            +sosmeds("https://www.linkedin.com/in/fariqodri/", "fa fa-linkedin fa-lg")
            +sosmeds("https://www.instagram.com/fariqodri", "fa fa-instagram fa-lg")
            +sosmeds("https://twitter.com/fariqodri", "fa fa-twitter fa-lg")
            +sosmeds("https://gitlab.com/fariqodri", "fa fa-gitlab fa-lg")
    
  section#about
    div.container
      div.row
        div.col-sm-6.img
          a(target="_blank", href="/images/pic3.jpg")
            img(src="/images/pic3.jpg", alt="Fari Qodri Andana")
        div.col-sm-6.information
          div.card
              
      