doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  body
    mixin nav-item(href, name)
      li.nav-item
        a.nav-link(href=href) #{name} 

    nav(class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark")
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarTogglerDemo02",
            aria-controls="navbarTogglerDemo02", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse#navbarTogglerDemo02
        ul(class="navbar-nav ml-auto mt-2 mt-lg-0")
          +nav-item("#intro", "Home")
          +nav-item("#about", "Resume")
          +nav-item("#form", "Suggestion Box")
    block content
